@import "./variable.scss";

// styling for register and login form
.register-wrapper,
.sign-in_wrapper{
    display:flex;
    margin:2% auto;
    box-shadow: 2px 10px 8px 10px #888888;
    width: fit-content;
}
.left-div{
    position: relative;
    background-color: $primary-color;
    .left-wrapper{
        padding:2em;
        width: 18vw;
        height:80vh;
        text-align: center;
        h2 {
            font-size: 2em;
            @include whiteColor;
        }
        p { 
            @include whiteColor;
            button {
                margin:20% auto;
                @include mixin-button;
            }
                button:hover {
                    @include btn-hover;
                }
        }
    }
}

.right-div {
    background-color: #fff;
    padding: 0 2em;
    text-align: center;
    width:30vw;
    .right-div_wrapper{
        position: relative;
        margin:0 auto;
        h1 {
            padding-top: 0.5em;
            font-size: 2em;
            color:$primary-color;
            font-weight: bold;
        }
        p{
            color:$second-color;
            font-weight:bold;
        }
        .icons-container {
            ul {
                padding:0;
            }
            li {
                display:inline-block;
                list-style: none;
            }
            .media-icon {
                @include medsos-icon;
                svg{
                    font-size:1.8rem;
                }
            }
            .media-icon{
               :hover{
                    @include icon-hover;
                }
            }
        }
        .form{
            margin:3em 0;
        }
        input {
           @include mixin-input;
        }
        button {
            @include mixin-button;
            background-color: $primary-color;
            color:#fff;
            margin:5% auto;
        }
        button:hover {
            @include btn-hover;
        }
    }
}

.fb {
    font-size:2x;
}